doctype html
html(lang="ko")
    head
        title 인공지능 페이지
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        main
            h1 질문1 : 오늘 하루 어땟나요?
            form(method="POST", action="/ai/")#answer-form
                input(required, type="text", name="answer")
                input(type="submit", value="답변완료")
        
        script(src="/static/js/ai.js") 